listen_address: 127.0.0.1:9890
#authentication:
#  username: monitoring
#  password: supersecretpassword
#  keyfile: /etc/ssl/private/ssl-cert-snakeoil.key
#  certfile: /etc/ssl/certs/ssl-cert-snakeoil.pem
#no_track_mode: false
#collect_top_query: 10
#collect_top_table: 10
#collect_top_index: 10
#concurrency_limit: 5
#skip_conn_error_mode: false
#url_prefix: "example.com"
#conn_timeout: 3
#pooler:
#  max_conns: 10
#  min_conns: 2
#  min_idle_conns: 2
#cache:
#  type: "memcached"       # OR "in-memory"
#  server: 127.0.0.1:11211 # use if cache type = "memcached"
#  ttl: 30s
#  collectors:
#    postgres/indexes:
#      ttl: 10m
#    postgres/tables:
#      ttl: 10m
#    postgres/statements:
#      ttl: 5m
#discovery:
# Monitoring Yandex.Cloud Managed Service for PostgreSQL 
#  yandex_mdb:
#    type: yandex-mdb
#    config:
#      - authorized_key: /path/to/secret/authorized_key.json
#        folder_id: "b1000000000000"
#        password: "password"
#        password_from_env: DB_PASSWORD
#        user: "postgres_exporter"
#        refresh_interval: 5
#        clusters:
#          - name: ".*"
#            db:
#            exclude_name:
#            exclude_db:
#        target_labels:
#          - name: folder_id
#            value: "b1000000000000"
#          - name: __scrape_timeout__
#            value: 1m
#          - name: __scrape_interval__
#            value: 2m
# Monitoring multiple databases PostgreSQL instance
#  cluster1:
#    type: postgres
#    config:
#      conninfo: "postgres://postgres:postgres@127.0.0.1:7432/postgres"
#      #password_from_env: PGPASSWORD
#      db: ".*"
#      exclude_db: "postgres"
#      target_labels:
#        - name: folder_id
#          value: "b1000000000000"
#        - name: __scrape_timeout__
#          value: 1m
#        - name: __scrape_interval__
#          value: 2m
services:
# Monitoring only one database PostgreSQL per instance
  "postgres:5432":
    service_type: "postgres"
    conninfo: "postgres://postgres:password@127.0.0.1:5432/postgres"
#    target_labels:
#      - name: __scrape_timeout__
#        value: 30s
#      - name: __scrape_interval__
#        value: 2m
# Monitoring PgBouncer
  "pgbouncer:6432": 
    service_type: "pgbouncer"
    conninfo: "postgres://pgbouncer:password@127.0.0.1:6432/pgbouncer"
# Monitoring Patroni
#  "patroni1":
#    service_type: "patroni"
#    baseurl: "http://127.0.0.1:8008"
#  "patroni2":
#    service_type: "patroni"
#    baseurl: "http://127.0.0.1:8009"
#  "patroni3":
#    service_type: "patroni"
#    baseurl: "http://127.0.0.1:8010"
#disable_collectors:
#  - system
#  - system/pgscv
#  - system/loadaverage
#  - system/cpu
#  - system/diskstats
#  - system/filesystems
#  - system/netdev
#  - system/network
#  - system/memory
#  - system/sysconfig
#  - system/sysinfo
#  - postgres/pgscv
#  - postgres/activity
#  - postgres/archiver
#  - postgres/bgwriter
#  - postgres/conflicts
#  - postgres/databases
#  - postgres/indexes
#  - postgres/functions
#  - postgres/locks
#  - postgres/logs
#  - postgres/replication
#  - postgres/replication_slots
#  - postgres/statements
#  - postgres/schemas
#  - postgres/settings
#  - postgres/storage
#  - postgres/stat_io
#  - postgres/stat_slru
#  - postgres/stat_subscription
#  - postgres/stat_ssl
#  - postgres/tables
#  - postgres/wal
#  - postgres/custom
#  - pgbouncer/pgscv
#  - pgbouncer/pools
#  - pgbouncer/stats
#  - pgbouncer/settings
#  - patroni/pgscv
#  - patroni/common
#collectors:
#  postgres/custom:
#    filters:
#      schemaname:
#        exclude: "^.+_(uat|dev|stage|UAT|DEV|STAGE)$"
#    subsystems:
#      table:
#        databases: "test[0-9]+|pgbench"
#        query: "select schemaname,relname,seq_scan,n_tup_ins,n_tup_upd,n_tup_del from pg_stat_user_tables"
#        metrics:
#          - name: seq_scans
#            usage: COUNTER
#            value: seq_scan
#            labels:
#              - schemaname
#              - relname
#            description: "Total number of tuples by operation."
#          - name: tuples_totals
#            usage: COUNTER
#            labeled_values:
#              tuples: [ n_tup_ins, n_tup_upd, n_tup_del ]
#            labels:
#              - schemaname
#              - relname
#            description: "Total number of tuples by operation."
