---
name: Default

on:
  workflow_dispatch:
  push:
    paths:
      - "cmd/**"
      - "internal/**"
      - "discovery/**"
      - "Makefile"
      - "go.mod"
      - "go.sum"
  pull_request:
    paths:
      - "cmd/**"
      - "internal/**"
      - "discovery/**"
      - "Makefile"
      - "go.mod"
      - "go.sum"

jobs:
  test:
    runs-on: ubuntu-22.04
    container: cherts/pgscv-test-runner:2.0.14

    steps:
      - name: Checkout code
        uses: actions/checkout@v6
      - name: Set Git config
        run: git config --global --add safe.directory /__w/pgscv/pgscv
      - name: Prepare test environment
        run: prepare-test-environment.sh
      - name: Check code modernization
        run: make modernize-check
      - name: Run tests
        run: make test
