---
name: Release

on:
  workflow_dispatch:
  push:
    tags:
      - "v1.*"

jobs:
  test:
    runs-on: ubuntu-22.04
    container: cherts/pgscv-test-runner:2.0.12
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
      - name: Prepare test environment
        run: prepare-test-environment.sh
      - name: Run test
        run: make test

  build:
    runs-on: ubuntu-22.04
    needs: test
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Set docker environment
        id: docker
        run: |
          echo DOCKERHUB_USERNAME="${{ secrets.DOCKERHUB_USERNAME }}" >>$GITHUB_OUTPUT
          echo DOCKERHUB_TOKEN="${{ secrets.DOCKERHUB_TOKEN }}" >>$GITHUB_OUTPUT
      - name: Lint Dockerfile
        run: make docker-lint
      - name: Build image
        run: make docker-build
      - name: Log in to Docker Hub
        if: ${{ steps.docker.outputs.DOCKERHUB_USERNAME != '' && steps.docker.outputs.DOCKERHUB_TOKEN != '' }}
        run: docker login -u ${{ steps.docker.outputs.DOCKERHUB_USERNAME }} -p ${{ steps.docker.outputs.DOCKERHUB_TOKEN }}
      - name: Push image to Docker Hub
        if: ${{ steps.docker.outputs.DOCKERHUB_USERNAME != '' && steps.docker.outputs.DOCKERHUB_TOKEN != '' }}
        run: make docker-push

  goreleaser:
    runs-on: ubuntu-22.04
    needs: build
    steps:
      - name: Run checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Run setup Go
        uses: actions/setup-go@v6
        with:
          go-version: 1.25
      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@v6
        with:
          version: '~> v2'
          args: release --clean
        env:
          GITHUB_TOKEN: ${{ secrets.CUSTOM_GITHUB_TOKEN }}
